.card-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  max-width: 400px;
  margin: 8px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.card-button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card-button:hover {
  background-color: #555;
}

/* Btn list or table */
.breadcrumb-btn-lists {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}


.btn-list-or-table {
  position: absolute;
  top: 0;
  right: 0;
}

.btn-list-or-table::after {
  content: url('../../img/cards-table.jpg');
}

.btn-list::after {
  content: url('../../img/cards-list.jpg');
}

.card-block.card-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card.card-list-row  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 100%;
}

.card-img.list-img {
  width: 300px;
}

@media (max-width: 768px) {
  .btn-list-or-table {
    display: none;
  }
}
